.footer {
    width: 100%;
    min-width: 1400px;
    margin-top: 80px;
    .footerNav {
        width: 100%;
        height: 60px;
        background-color: #848484;
        display: flex;
        justify-content: space-around;

        &>li {
            width: 110px;
            height: 60px;
            text-align: center;
            line-height: 60px;

            &>a {
                color: #fff;
                font-size: 14px;          
            }
        }
        &>li:hover{
            background-color: rgb(99,98,98);
            &>a:hover{
                color:rgb(169, 169, 168) ;
            }
        }
    }

    .footerMsg {
        width: 100%;
        padding: 40px 0px;
        display: flex;
        justify-content: space-around;
        position: relative;
        &::after{
            content: "";
            display: inline-block;
            position: absolute;
            width: 1px;
            height: 100px;
            background-color: #d5d5d5;
        }
    }
}