body,html{
    scroll-behavior: smooth;
}
#aside {
    width: 50px;
    position: fixed;
    right: 0;
    top: 500px;
    z-index: 99;

    ul {
        width: 100%;
        background-color: black;
        list-style: none;

        li {
            text-align: center;
            line-height: 40px;
            width: 100%;
            height: 50px;
            color: #fff;
        }
    }
}