.dev-wb-partner {
    width: 100%;
    .dev-wb-partner-top {
        width: 80%;
        min-width: 992px;
        padding-top: 81px;
        height: 200px;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
        h2 {
            font-size: 44px;
            color: #000;
        }
    }

    .dev-wb-partner-btm {
        width: 80%;
        height: 500px;
        text-align: center;
        margin: 0 auto;
    }
}