.title {
    p {
        color: #333;
        font-family: ProximaNova-Thin;
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
        margin: 60px 0 40px 0;
        font-weight: 100;
    }

}