.shopevaluate {
    margin: 100px 0px;
    padding: 10px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

    .mybtn {
        cursor: pointer;
        float: right;
        width: 180px;
        height: 50px;
        background-color: #000;
        color: #fff;
    }
}