.offter {
    width: 100%;
    min-width: 1400px;

    &>div {
        width: 80%;
        margin: 0 auto;
    }

    .offter_text {
        height: 200px;
        line-height: 200px;
        font-size: 44px;  
        text-align: center;
        &>h3{
            font-size: 24px;
            font-weight: 700;
            margin-top: 20px;
        }
    }
    
    .steps{
        .steps_text{
            display: flex;
            justify-content: space-around;
            margin-top: 30px;
            text-align: center;
            .steps_text_left{
                width: 450px;
                padding-left: 25px;
                border-left: 2px solid #ccc;
                border-right: 2px solid #ccc;
                margin-right: -155px;
            }
        }
    }

    .claim{
        &>h3{
            font-size: 24px;
            border-bottom: 2px solid #333;
            padding-bottom: 10px;
        }
        .claim_form{
            .form_divider{
                border: 1px solid #ccc;
            }
        }
    }
}