.title {
    p {
        color: #333;
        font-family: ProximaNova-Thin;
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
        margin: 60px 0 40px 0;
        font-weight: 100;
    }

}

.AnCard {
    width: 100%;
    padding: 0 9px;
    display: flex;
    text-align: center;

    li {
        width: calc(25% - 8px);
        margin: 4px;
    }
}

.TypeList {
    margin-top: 20px;
    display: flex;
    margin-bottom: 50px;

    .type {
        width: 10%;

        p {
            color: #333;
            font-family: ProximaNova-Thin;
            font-size: 18px;
            text-transform: uppercase;
            text-align: right;
            font-weight: 100;
            cursor: pointer;
        }
    }

    .list {
        display: flex;
        justify-content: space-around;
        width: 90%;
    }
}

.SwiperAndList {
    padding: 0 10px;
    display: flex;

    .swiper {
        position: relative;
        cursor: grab;
    }

    .list {
        width: 60%;

        .AnCard {
            width: 100%;
            height: 100%;
            padding: 0 10px;
            display: flex;
            text-align: center;
            flex-wrap: wrap;
        }

    }
}
.ShopListTab {
    .ant-tabs-tabpane {
        width: 100%;

        li {
            margin: 10px 30px;
            display: inline-block;
        }
    }

    .ant-tabs-tab {
        :target {
            color: #000;
            border-bottom: 3px solid #b5b5b5;
        }

        cursor: pointer;
        font-family: ProximaNova-Semibold;
        color: #b5b5b5;
        border-bottom: 3px solid transparent;
        transition: all .2s ease-in-out;

        div:hover {
            color: #000;
            font-size: 500;
        }
    }
}

.footer_bar {
    width: 100%;
    padding-top: 90px;

    .footer {
        width: 80%;
        height: 500px;
        margin: 0 auto;

        .inner {
            height: 130px;
            margin-bottom: 80px;

            a {
                color: #666;
                text-decoration: none;

                img {
                    width: 33%;
                }
            }
        }

        .footer_content {
            display: flex;
            justify-content: space-between;

            .notice {
                padding: 10px;
                width: 50%;
            }

            .contact {
                padding: 10px;
                border: 1px solid #000;
                width: 40%;
                color: #000;

                p {
                    .fuwu {
                        font-size: 22px;
                        color: #000;
                    }

                    .phone_ {
                        font-size: 42px;
                        color: #000;
                    }
                }

                .timer_ {
                    font-size: 14px;
                    margin-bottom: 5px;
                }

                .adress_ {
                    margin-bottom: 50px;
                }

                .button_icon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .footer_btn {
                        width: 95px;
                        height: 40px;
                        line-height: 36px;
                        color: #000;
                        font-size: 14px;
                        border: 1px solid #000;
                        border-radius: 0;
                        margin-right: 10px;
                        text-transform: uppercase;

                        span {
                            display: inline-block;
                            transition: margin-left .3s cubic-bezier(.645, .045, .355, 1);
                            pointer-events: none;
                        }

                    }

                    .anticon {
                        font-size: 32px;
                        width: 41px;
                        display: inline-block;
                        color: inherit;
                        font-style: normal;
                        line-height: 0;
                        text-align: center;
                        text-transform: none;
                        vertical-align: -0.125em;
                        text-rendering: optimizeLegibility;
                        -webkit-font-smoothing: antialiased;
                    }
                }

            }
        }
    }
}
.swiper-button-prev,
.swiper-button-next{
    color: #e7e7e7;
}